extends "./layout.jade"

block append css
  style.
    .btn-facebook{ background: #48649F;}
    .btn-facebook:hover { background: #405A92;}
    .sub-heading{
      margin-bottom: 10px;
    }
    .Images > div > div{margin-bottom: 10px;}
    .Images img{ height: 270px; !important}

block append body
   .row-fluid(style="padding-top:150px;")
     .span12.text-center.sub-heading
        img(src="/static/img/Text1.png", style="height: 20px;")
   .row-fluid.Images
     .span10.offset1
         .span3.text-center
           img(src="/static/img/Img1.png")
         .span3.text-center
           img(src="/static/img/Img2.png")
         .span3.text-center
           img(src="/static/img/Img3.png")
         .span3.text-center
           img(src="/static/img/Img4.png")

   .row-fluid.text-center(style="margin: 10px 0px;")
     img(src="/static/img/Text3.png", style="height: 30px;")
   .row-fluid.text-center(style="margin: 10px 0px;")
     img(src="/static/img/Text4.png", style="height: 55px;")


   .row-fluid
     .span6.offset3
       .span6(style="margin-bottom: 10px;") 
         a.btn.btn-danger.btn-large.span12(href="/auth/google", style="border-radius: 25px;") Sign up with Google
       .span6(style="margin-bottom: 10px;")
         a.btn.btn-primary.btn-facebook.btn-large.span12(href="/auth/facebook", style="border-radius: 25px;") Sign up with Facebook
