doctype 5
html(lang="en")
  head
    title Shalent - Show your Talent
    block css
      link(href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css", rel="stylesheet")
      style.
        a{ outline: 0;}
        .navbar-inner{
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46) !important;
          -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46 !important);
        }
        .navbar .nav li.dropdown.open > .dropdown-toggle, 
        .navbar .nav li.dropdown.active > .dropdown-toggle, 
        .navbar .nav li.dropdown.open.active>.dropdown-toggle {
            background: none;
            color: #555555;
        }
        .navbar .nav>li>a {
            padding: 20px 15px 10px;
        }
        .shalent-logo{
          position: relative; 
          width: 125px;
          top:3px; 
          margin: 0 auto;
        }
      
    block js
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")

  body(style="font-family: sans-serif;")
    .navbar.navbar-fixed-top(style="background: #fff;")
      .left-pixel.pull-left(style="position: relative;")
        img(src="/static/img/left-pixel.png", style="height: 70px;position: absolute;top: -2px;left: -1px;")
      .right-pixel.pull-right(style="position: relative;")
        img(src="/static/img/right-pixel.png", style="height: 68px;position: absolute;top: -2px;right: -1px;")
      .shalent-logo
        a(href="/"): img(src="/static/img/Logo.png", style="position: absolute")
      .navbar-inner(style="background: none; border-bottom: 0px;height: 65px;")
        .container#header_container
          button.btn.btn-navbar(type="button",data-toggle="collapse",data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .nav-collapse.collapse.pull-right
            ul.nav
              {% if user.username %}
              li.dropdown
                a.dropdown-toggle(href="#",data-toggle="dropdown",style="color:#000") 
                  | Hi, {{ user.first_name }}  
                  i.icon-chevron-down
                ul.dropdown-menu
                  li: a(href="/auth/logout") Logout
              {% endif %}
   
    .container
      block body

    .footer.row-fluid.text-center
      a(href="/terms", title="Terms and Conditions") Terms & Conditions

