{% extends "layout.jade" %}
{% block header %}
  <!-- <link href="//getbootstrap.com/2.3.2/assets/css/docs.css" rel="stylesheet"> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <style>

  </style>
{% endblock header %}
{% block body %}
    <div style="padding-top:220px;text-align:center;">
        <h2 style="color:rgb(92, 92, 156);">Tell us a little about yourself...</h2>
        <br><br>
        <form id ="form_id" action="/new_user"  method="POST" style="text-align:center;">
            <div>
              <div style="color:rgb(118, 118, 168);font-weight:bold;font-size:25px;">I Am </div><br>
              <div>
                <select id ="select_id" name="usercategory">
                  <option value="V">Viewer</option>
                  <option value="A">Artist</option>
                  <option value="C">Curator</option>
                  <option value="M">Manager</option>
                </select>
              </div>
            </div>            
            <div id="sub_div" style="display:none;"><br>
                <div style="color:rgb(118, 118, 168);font-weight:bold;font-size:25px;">Choose Your Art Category </div><br>
                <div>
                  <select name ="category_type" class="sub" id="subid">
                    {% for x in art_category %}
                      <option value="{{ x.id }}">{{x.category}}</option>
                    {% endfor %}
                  </select>
                </div>
            </div>
            <div>
              <input type="submit" value="Roll Me In" class="btn btn-inverse" style="margin-top:10px;padding:10px;font-weight:bold;">
            </div>
        </form>
    </div>

<script type="text/javascript">
     $(document).ready(function () {

         $('select#select_id').change(function () {
           var category = $('#select_id').val();
           var second_select = $("#sub_div");

           if (category == 'A') {
             second_select.show();
           }
           else{
             second_select.hide();
           }
         });

     });
</script>
{% endblock %}
