extends "./layout.jade"

block append css
  style.
    li{list-style-type: none; margin-left: 20px; font-weight: normal; margin-bottom: 10px;}
    ul{ margin-bottom: 5px; font-weight: bold;}


block append body
   .row-fluid(style="padding-top:140px;")
     h3.text-center Terms and Conditions
   .row-fluid
     .span10.offset1
        p: b Contents:
        p Definitions
        p 1. Our Contract
        p 2. Terms
        p 3. Our fee and payment
        p 4. Information you give us
        p 5. Indemnity
        p 6. Intellectual Property Rights
        p 7. Our liability
        p 8. Termination
        p 9. Severability
        p 10. Entire understanding
        p 11. Reasonableness
        p 12. Relationship of parties
        p 13. Dispute resolution
        p 14. Jurisdiction
        hr
        p These terms and conditions regulate the business relationship between you and us. By using Our Web Site in any way, you agree to be bound by them.

        p We are:     The Great Eastern Appmill Pvt. Ltd.  
        p Our address is:     Shivalika Complex, Risalu Road, Sewah, 
        |Panipat, Haryana-132110, India
        hr
        p: b Definitions:
        p "Post"  means display, exhibit, publish, distribute, transmit and/or disclose information, details and/or other material on the Web Site. 
        p “Web Site”  means our website www.shalent.com, and includes all web pages controlled by us.
        p “Artist”    means any person who uses the Services on the Web Site for all purposes including display, lease and sale of his Work of art.
        p "Intellectual Property" means intellectual property of every sort, whether or not registered or registrable in any country, including intellectual property of kinds coming into existence after today; and including, among others, patents, trade, unregistered marks, work of art, designs, copyrights, software, domain names, discoveries, literary or artistic creations and inventions including the ones existing on our Website over which we or the person, who has created it, exercises
        p a moral right to its exclusive use and a right to prevent anybody else from copying or adapting the said work in any form whatsoever.
        p “We”, “us”, etc.    means us – www.shalent.com. Where the context permits it also includes any business company or individual who shares an interest in the sale of service(s) promoted on the Website. Without limitation, it includes any subsidiary or associated company of ours, together with any licensor, affiliate, or network partner.
        p "You” “yours” etc.,     means you, the Artist, and employers / event managers who may be interested in the work of the artist, or a general visitor to our website – a party to this agreement.
        hr
        p Following are the terms of the arrangement:
        ul 1. Our Contract 
          li 1.1 You, the Artist represent and warrant that you are the owner of the work posted by you on our website for considering inclusion in the list of other competitors who participate in the weekly competitions for receiving rewards and / or tips from the viewers; 
          li 1.2 The object of your submission of the work is also to invite attention of the potential employers / event managers who may be interested in engaging with you in a professional arrangement;
          li 1.3 You represent and warrant that the work of art was created solely by you without the involvement of any other party and that you have all the right, title and interest in and to the work of art and full and unrestricted power and authority to consign the same to us for display on website and related platforms; 
          li 1.4 The terms and conditions in the following paragraphs regulate the business relationship between you and us and you agree to be bound by them.
        ul 2. Terms
          li 2.1 As an inducement for providing a sizeable exposure to your work of art, you hereby unconditionally and irrevocably transfer, convey and assign all rights and interest in and to the copyright in the work of art, to publish, website display, distribute, and to transmit the work of art by any means to the employer / event manager and to collect our fees from the employer / event manager in a manner as may be legally permissible in an online transaction or otherwise; 

          li 2.2 Upon written request by us, you will execute any additional documents that may be required to confirm this Agreement and to establish our aforesaid rights in the work of art displayed by you and the arrangement made in this document; 

          li 2.3 You, the Artists will not be allowed to display your name / contact details alongwith your work of art and your name / contact details shall only be allowed to be furnished to us at the stage of filling up of the form for submission of the work of art for display at the website;

          li 2.4 You shall abide by our policy guidelines defining the nature of content that may be permissible for submission by any Artist for display and the extent of restrictions imposed by us from time to time in respect of any objectionable, explicit and vulgar materials in terms of acceptability for display at the website and we shall be within our rights to remove the said objectionable / explicit / vulgar material and the decision in respect of the same by us shall be final;

          li 2.5 We shall be within our rights in terms of our understanding with you, the Artist, in the present arrangement to be able to edit the content of the work of art uploaded by you on our website and use the said edited portion in our promotional videos to promote the talent as well as the Artist who uploads the same. 

        ul 3. Our fee and payment

          li 3.1 We will be entitled to receive a fee @ [Amount] for our services from the potential employers / event managers in respect of exposing your work of art to them and for providing such opportunity through use of our platform;

          li 3.2 The potential employers / event managers shall pay all sums due to us under this Agreement as our fee without any set-off, deduction or counterclaim.

          li 3.3 All monies paid to us are non-refundable and cancellation and/or termination of this Agreement at any time for any reason will not entitle the potential employer / event manager to a refund of monies paid.

        ul 4. Information you give us

          li You agree that you have provided, and will continue to provide accurate, up to date, and complete information about yourself.

        ul 5. Indemnity

          li You agree to indemnify us against any claim or demand, including reasonable lawyers’ fees, made by any third party due to or arising out of your use of the Services, the breach or violation of this Agreement by you, or the infringement by you, of any intellectual property or other right of any person or entity, or as a result of any threatening, libelous, obscene, harassing or offensive material contained in any of your work of art.;

        ul 6. Intellectual Property Rights

          li Title, ownership rights, and intellectual property rights in the work of art and processes in creation thereof shall remain your sole property. We acknowledge your right to re-produce the work of art and strongly protect those rights in all countries.


        ul 7. Our liability

          li The use of our Services is without any warranty or guarantee. 

          li 7.1 We may make improvements or changes to the Web Site, the content, or to any of the products and services described on the Web Site, at any time and without notice;

          li 7.2 We give no warranty and make no representation, express or implied, as to compliance with any law; 

          li 7.3 We shall not be held liable in the event of the work of art uploaded by the Artist on our website is downloaded / copied by use of illegal means by anyone maliciously through hacking or otherwise and re-distributed / re-published in contravention of the terms and conditions outlined on our website for no reasons attributable to negligence or any act of omission on our part.  

        ul 8. Termination

          li 8.1 You may terminate the agreement either by sending notices to us by post or email. We reserve the right to check the validity of any request to terminate the agreement;

          li 8.2 We may terminate this Agreement at any time, for any reason, with immediate effect by sending you notice to that effect by post or email; 

          li 8.3 If we terminate, we shall be under no liability to you whatsoever, and you hereby release us from any such liability; 

          li 8.4 Termination by either party shall have the effect of immediate seizure of your right to use the Services immediately; 

          li 8.5 We retain the right, at our sole discretion, to terminate any and all parts of the Services provided to you, without your entitlement to refund of any fees paid if we decide in our absolute discretion that you have failed to comply with any of the terms of this agreement.


        ul 9. Severability 

          li If any of these terms is at any time held by any jurisdiction to be void, invalid or unenforceable, then it shall be treated as changed or reduced, only to the extent minimally necessary to bring it within the laws of that jurisdiction and to prevent it from being void and it shall be binding in that changed or reduced form. Subject to that, each provision shall be interpreted as severable and shall not in any way affect any other of these terms.

        ul 10. Entire understanding

          li This agreement contains the entire agreement between the parties and supersedes all previous agreements and understandings between them. You acknowledge that, in entering into this agreement, you do not rely on any representation, warranty or other term not forming part of this agreement. If there are any, they will be deemed to have terminated by mutual consent. If there is any conflict between the earlier agreement and the terms of this agreement, then the terms of this agreement shall prevail.

        ul 11. Reasonableness

          li You have carefully considered all the above conditions and agree that they are all reasonable and required to properly protect us.

        ul 12. Relationship of parties
            
          li Nothing in this agreement shall create a partnership, joint venture or agency or the relationship of employer and employee between us.

        ul 13. Dispute Resolution

          li In the event of a dispute arising out of or in connection with the terms of this Agreement between you and us, then you agree to attempt to settle the dispute by engaging in good faith with us in a process of mediation before commencing arbitration or litigation. 

        ul 14. Jurisdiction 

          li This Agreement shall be governed by the substantive laws of the Republic of India. Venue for proceedings to enforce this Agreement shall be in the competent courts in Republic of India, and each of the parties consent to the exclusive jurisdiction of such courts. 

        hr
        p Explanatory Notes on Terms and Conditions
        p The notes
        p General comments
        ul
          li 1. Blue markings - the document has been marked in blue at the points where you may need to insert, amend or choose an alternative. 

          li 2. Intellectual Property Rights clause may be relevant. Can be deleted if not required.

          li 3. The fee of the website may be mentioned as agreed between the parties.
          li 4. It is not necessary for your customer to be identified by name. “You” is enough. However, you do have to be accurately identified. A web site name is not enough. You must clearly state the real name of you or your company. We have provided for your name and address at the beginning, and full contact provision at the end of the document.

          li 5. Please note that statements made and information given on your web pages will be regarded by a judge as “representations” which may have induced your customer to enter into a contract with you. You cannot therefore avoid a claim for misrepresentation, if any.

          li 6. It is essential that terms and conditions are drawn to the user’s attention. To obtain the best benefit from the terms, you should seek to bind people who are merely site visitors as well as actual users by asking them for confirmation of their acceptance of the T & C. The terms then will constitute a contract between you and the user and besides applying as a statement of your intent and policy.



